<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1><%= @lesson.name %> <%= link_to 'Изменить', edit_lesson_path(@lesson), class: 'btn btn-default' %> <%= link_to 'Удалить', @lesson, class: 'btn btn-danger', method: :delete, data: { confirm: 'Вы уверены? Действие необратимо, все связанные данные также будут удалены' } %></h1>
    </div>
  </div>
  <div class="col-md-12">
    <h2>Преподаватели</h2>
    <% @lesson.teachers.distinct.each do |teacher| %>
      <%= link_to teacher, class: 'panel panel-default' do %>
        <div class="panel-body">
          <%= teacher %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>